$grey: #f6f6f2;
$dark-green: #388087;
$light-bluegreen: #6fb3b8;
$light-blue: #badfe7;
$light-green: #c2edce;
$red: #f87171;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.library-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: $dark-green;
    text-align: center;
    h2 {
        text-shadow: 1px 4px 0 rgb(73 73 73 / 69%);
        color: white;
        font-size: 38px;
        text-align: center;
    }
}
main {
    // position: relative;
    background-color: $grey;
    padding: 25px;
    min-height: calc(100vh - 100px);
}

.new-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 30px;
    .card {
        display: flex;
        flex-direction: column;
        background-color: $light-green;
        border: 1px solid $light-blue;
        padding: 20px;
        height: 300px;
        box-shadow: 1px 3px 1px 1px #a6a6a6;

        h3 {
            width: 100%;
            font-size: 2rem;
        }

        .togglers {
            // align-self: flex-end;
            // justify-self: flex-end;
            margin-top: auto;
            display: flex;
            justify-content: space-around;
        }
    }
}

.remove-button {
    @extend %buttonstyle;
    background-color: $light-bluegreen;

}

.read-button {
    @extend %buttonstyle;

    &.is-read {
        background-color: #22c55e;
    }

    &.not-read {
        background-color: #f87171;
        border: 2px solid #ef4444;
    }
}
%buttonstyle {
    padding: 8px;
    border: 2px solid $dark-green;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    
    &:hover {
        box-shadow: -1px 1px 2px 1px darkgrey;
        scale: 1.1;
        transition: scale 0.2s ease-in-out;
    }
}

   
.hidden {
    opacity: 0;
    visibility: hidden;

    .modal {
        scale: 0;
        transition: scale 0.2s ease-in-out;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.modal {
    position: relative;
    scale: 1;
    transition: scale 0.2s ease-in-out;
    z-index: 10;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    form {
        padding: 25px;
        background-color: $light-bluegreen;
        width: min(400px, 90vw);
        display: flex;
        flex-direction: column;
        box-shadow: 2px 1px 2px 1px darkgray;
        // transform: translate(-50%, -70%);
        gap: 8px;

        .close {
            cursor: pointer;
            margin-left: auto;
            font-size: 30px;
            width: 14px;
        }
        #newBook {
            @extend %buttonstyle;
            background-color: $light-green;
        };
        
    }

}