$grey: #f6f6f2;
$dark-green: #388087;
$light-bluegreen: #6fb3b8;
$light-blue: #badfe7;
$light-green: #c2edce;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.library-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: $dark-green;
    text-align: center;
    h2 {
        text-shadow: 1px 4px 0 rgb(73 73 73 / 69%);
        color: white;
        font-size: 38px;
        text-align: center;
    }
}
main {
    // position: relative;
    background-color: $grey;
    padding: 25px;
    min-height: calc(100vh - 100px);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 30px;
    .card {
        display: flex;
        flex-direction: column;
        background-color: $light-green;
        border: 1px solid $light-blue;
        padding: 20px;
        height: 300px;
        box-shadow: 1px 3px 1px 1px #a6a6a6;

        h3 {
            width: 100%;
            font-size: 2rem;
        }
    }
    .remove-button {
        width: 50%;
        margin-left: auto;
    }
}

.remove-button {
    @extend %buttonstyle;
    background-color: $light-bluegreen;

    &:hover {
        @extend %buttonhover;
        background-color: $dark-green;
        color: white;
        
    }
}
%buttonstyle {
    align-self: flex-end;
    padding: 8px;
    border: 2px solid $dark-green;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top:auto;
    transition: scale 0.2s ease-in-out;
}

%buttonhover {
    box-shadow: -1px 1px 2px 1px darkgrey;
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
}
.hidden {
    display: none!important;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    background: radial-gradient(circle, rgb(0 0 0 / 98%) 0%, rgba(36, 56, 58, 0.5882352941) 30%, rgb(104 106 119 / 66%) 50%, rgb(33 34 48 / 29%) 70%, rgba(255, 255, 255, 0) 100%);
    // border: 2px solid $dark-green;
    // margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    form {
        padding: 25px;
        background-color: $light-bluegreen;
        width: min(400px, 90vw);
        display: flex;
        flex-direction: column;
        box-shadow: 2px 1px 2px 1px darkgray;
        // transform: translate(-50%, -70%);
        gap: 8px;

        // input[type="checkbox"] {
        //     position: absolute;
        //     // opacity: 0;
        //     cursor: pointer;
        //     height: 0;
        //     width: 0;
        //     &:after{
        //         appearance: none;
        //         border: 1px solid black;
        //     }
        //     &:checked {
        //         appearance: none;
        //         color: red;
        //     }
        //     &:checked:before {
        //         content: "✔";
        //         color: green;

        //     }
        // }
        // #read {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 25px;
        //     width: 25px;
        //     background-color: #eee;
        // }
        .close {
            cursor: pointer;
            margin-left: auto;
            font-size: 30px;
            width: 14px;
        }
        #newBook {
            @extend %buttonstyle;
            background-color: $light-green;
        };
        #newBook:hover {
            @extend %buttonhover;
        }
    }

}