$grey: #f6f6f2;
$dark-green: #388087;
$light-blueblue: #6fb3b8;
$light-blue: #badfe7;
$light-green: #c2edce;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}
.library-header {
    // position: absolute;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100vw;
    background-color: $dark-green;
    text-align: center;
    h2 {
        text-shadow: 1px 4px 0 rgb(73 73 73 / 69%);
        color: white;
        font-size: 38px;
        text-align: center;
    }
}
main {
    background-color: $grey;
    padding: 20px;
    min-height: calc(100vh - 100px);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    .card {
        background-color: $light-green;
        border: 1px solid $light-blue;
        padding: 20px;
        h3 {
            width: 100%;
        }
    }
}

form {
    margin-top: 400px;
}